.header {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr [title] minmax(60vw, 80vw) 1fr;
  grid-template-rows: repeat(2, 1fr);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
}
.header img {
  display: block;
  max-width: 100%;
  filter: brightness(50%);
  grid-column: 1 / end;
  grid-row: 1 / end;
  clip-path: polygon(0 0, 100% 0, 100% percentage(310/360), 0 100%);
}

.header span {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  color: #ffffff;
  font-family: sans-serif;
  font-size: clamp(1em, 7vw, 3em);
  text-shadow: -1px -1px 1px #000;
  animation: fadein 1s;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
