.filter-form {
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
}

.action-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.action-btn {
  margin: 1em 0;
}

.btn-spacer {
  width: 1em;
  height: 1em;
}
