.rule-icon {
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
}
.value-add-btn-container {
  max-width: 400px;
}

.add-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1em 0;
  width: 100%;
  max-width: 400px;
}
