.primary-btn {
  margin: 0 auto;
  width: 6em;
  height: 2.5em;
  border: 2px solid #9100ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(1px) translateZ(0);
  box-shadow: 1px 1px 1px rgba(124, 124, 124, 0.658);
  transition-duration: 0.3s;
  transition-property: color, background-color;
  background-color: #9100ff;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.primary-btn:enabled:hover,
.primary-btn:enabled:focus,
.primary-btn:enabled:active {
  background-color: #b556fc;
  color: white;
}

.secondary-btn {
  @extend .primary-btn;
  background-color: transparent;
  color: #9100ff;
}
.secondary-btn:enabled:hover,
.secondary-btn:enabled:focus,
.secondary-btn:enabled:active {
  background-color: #f5e7ff;
  color: #9100ff;
}
//about page section
.about-container {
  margin: 3em;
  max-width: 1000px;
}
.tmdb-logo-about {
  width: 5em;
}
.about-paragraph {
  margin: 1em 0;
  line-height: 1.5em;
}
.about-landing {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
//dashboard
.dashboard-container {
  display: flex;
  min-height: 100vh;
  flex-direction: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-table {
  max-width: 720px;
}

.primary-btn {
  margin: 0 auto;
  width: 6em;
  height: 2.5em;
  border: 2px solid #9100ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(1px) translateZ(0);
  box-shadow: 1px 1px 1px rgba(124, 124, 124, 0.658);
  transition-duration: 0.3s;
  transition-property: color, background-color;
  background-color: #9100ff;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.primary-btn:enabled:hover,
.primary-btn:enabled:focus,
.primary-btn:enabled:active {
  background-color: #b556fc;
  color: white;
}

.secondary-btn {
  @extend .primary-btn;
  background-color: transparent;
  color: #9100ff;
}
.secondary-btn:enabled:hover,
.secondary-btn:enabled:focus,
.secondary-btn:enabled:active {
  background-color: #f5e7ff;
  color: #9100ff;
}

.btn-spacer {
  width: 1em;
  height: 1em;
}
