.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.about {
  display: grid;
  grid-template-columns:
    1fr [text] minmax(
      unquote("min(25em, 40vw)"),
      unquote("min(30em, 40vw)")
    ) clamp(5%, 1em, 2em) [img] minmax(
      unquote("min(25em, 40vw)"),
      unquote("min(30em, 40vw)")
    )
    1fr;
  grid-template-rows: [first] minmax(15vh, auto) minmax(1vh, 1em) [second] minmax(
      15vh,
      auto
    );
  flex-direction: column;
  align-items: center;
  color: #3a3c6d;
  text-align: right;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 1em 0;
  line-height: 1.5em;
  width: 100%;
}

.overview {
  grid-column: text / span 1;
  grid-row: first / span 1;
}

.email {
  object-fit: cover;
  grid-column: img / span 1;
  grid-row: first / span 1;
  width: 100%;
  max-width: 20em;
}

.filter-method {
  grid-column: text / span 1;
  grid-row: second / span 1;
}

.filter {
  object-fit: cover;
  grid-column: img / span 1;
  grid-row: second / span 1;
  width: 100%;
  max-width: 20em;
}

.btn-container {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.btn-spacer {
  width: 1em;
  height: 1em;
}
